$mainfont: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
$fontColor: #58402c;
$boxmargin: 0 100px;

.topbar {
  height: 62px;
  margin: $boxmargin;
  border-bottom: 1px solid lightgray;
}

.logo {
  img {
    width: 200px;
    border: 1px solid lightgray;
  }
  float: left;
}

.nav {
  float: right;
  padding: 20px 0;

  a {
    margin: 0 0 0 40px;
    font-family: $mainfont;
    text-decoration: none;
    color: $fontColor;
    font-size: 12px;
    font-weight: bold;
  }
}

.slider {
  clear: left;
  font-family: $mainfont;
  margin: $boxmargin;
  padding-top: 50px;
  display: flex;


  .headings {
    width: 50%;


    h1 {
      font-size: 50px;
      margin: 25px;
      color: $fontColor;
    }

    h3 {
      font-size: 25px;
      margin: 20px;
      font-weight: normal;
      color: $fontColor;
    }

    button {
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
      color: #fff;
      font-size: 0.875rem;
      background: #30488f;
      border-radius: 7px;
      border: none;
      img {
        width: 18px;
            margin-bottom: -4px;

      }
    }
    a {
      font-size: 14px;
    }
  }

  .photo {
    width: 40%;



    img {
      width: 100%;
    }
  }
}
#homecontent{
  background-color: #FFE7D2;
  h2{
    font-size: 26px;
    text-align: center;
    padding: 100px;
font-family: $mainfont;
  }
}
.services {
  display: flex;
  justify-content: center;
}
.servitem{
  width: 250px;
  img{
    max-width: 100%;
    max-height  : 100px;
    margin: 50px;
  }
  p{
    font-family: $mainfont;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }


}
.centerimg {
  width: 100%;
  text-align: center;

}
#centerimg{
  width: 250px;
}
